*{
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 2000px;
  margin:auto;
}
header {
  background: url("image.png");
  height: 100vh;
  -webkit-background-size:cover;
  background-size:cover;
  background-position: center;
  position: relative;
}
.nav-area {
  float: left;
  list-style: none;
  margin-top: 40px;
}
.nav-area li {
  display: inline-block;
}
.nav-area li a {
  color: #fff;
  text-decoration:none;
  padding: 6px 25px;
  font-family:fantasy;
  font-size: 20px;
}
.nav-area li a:hover {
  background: #fff;
  color: #333;
}
.welcome-text {
  position: fixed;
  width: 600px;
  height: 300px;
  margin: 10% 10%;
